.list-group-item.active {
    background-color: transparent;
}

ul li{
    position: relative;
    font-weight: 500;
}

ul li.active {
    color: #3c6d55;
    padding-left: 15px;
    font-weight: bold;
}
.extrabold {
    font-weight: 800;
}
.text-black {
    color: black;
}

.gap-20{
    gap: 20px;
}