<div class="row d-flex justify-content-center">

  <div class=" col-lg-8">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">
            <ul class="list-group text-left">
              <h3 class="text-primary-dark extrabold mb-28">Opciones</h3>
              <li
                class="list-group-item semi-bold mb-12 pl-0 py-0 border-0 text-black text-size-4"
                *ngFor="let option of options"
                (click)="onSelect(option)"
                [class.active]="option === selectedOption"
              >
                {{ option.nombre }}
              </li>
            </ul>
          </div>
          <div class="col-lg-9">
            <video width="540" height="310" controls>
              <source src="https://res.cloudinary.com/dathwi8ps/video/upload/v1679529921/BANK_-_Tablas_y_consultas_Google_Chrome_2023-03-22_21-02-08_kjuggm.mp4" type="video/mp4">
            </video>
          </div>
    
        </div>
      </div>

    </div>
  </div>

</div>